
.tile .tile-body.not-first {
  background: rgba(18, 148, 213, 0.042);
}

.tile .tile-body.not-first p{
  font-family: 'Montserrat';
  font-size: 14px;
}

.tile .tile-body.padded {
  padding: 10px;
}
.tile {
  box-shadow: 0 5px 12px 3px rgba(0,0,0,0.03);
  border: 0;
}